.hero-section {
  overflow: hidden;
  background: linear-gradient(#e5efff, white);
}

.hero-content {
  display: flex;
  margin: 10rem 0 10rem 5%;
  & .hero-desc {
    color: $grey;
    line-height: 1.45rem;
    margin-top: 1.3rem;
    width: 98%;
  }
}

.create-account {
  padding: 1rem 2.5rem;
  background: $purple;
  border-radius: 2rem;
  color: white;
  transition: all 0.3s;
  &:hover {
    background: white;
    color: $purple;
    border: 2px solid $purple;
  }
}

.left-hero {
  width: 50%;
}

.right-hero {
  position: relative;
  width: 50%;
  & > * {
    position: absolute;
  }
  & .img-hero {
    border-radius: 1rem;
  }
  & .hero-grille {
    z-index: 0;
  }
  & .exterieur {
    top: -4rem;
    right: 25rem;
    z-index: 2;
    width: 13rem;
  }
  & .stripe {
    bottom: -2rem;
    left: 16rem;
    background: white;
    z-index: 2;
    width: 19rem;
    box-shadow: 0px 0px 19px 0px rgba($purple, 0.1);
  }
  & .commerce {
    top: -1rem;
    right: 0rem;
    height: 20rem;
    z-index: 1;
    border-radius: 0;
  }
  & .vertical-grid-purple {
    bottom: -7rem;
    right: 0;
    height: 25rem;
  }
  & .vertical-grid {
    top: -8rem;
    right: 8rem;
    height: 25rem;
  }
  & .horizontal-grid {
    width: 25rem;
    top: 84px;
    right: 14rem;
  }
  & .yellow-shape {
    z-index: 3;
    top: 15rem;
    right: 32.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #ffba49;
  }
}

.connect {
  margin-top: 3rem;
  & p :first-child {
    margin-right: 0.5rem;
  }
  & p :last-child {
    margin-left: 0.5rem;
    color: $blue;
  }
}
