#logo {
  width: 7rem;
  margin-right: 2rem;
}

header {
  width: 90%;
  padding: 2rem 0;
  margin: auto;
  align-items: center;
  @include flex-horizontal;
  & nav {
    font-size: $main-fontsize;
    @include flex-horizontal;
    & ul {
      @include flex-horizontal;
      align-items: center;
      & li {
        margin-right: 1rem;
        list-style-type: none;
        margin-top: 0.5rem;
      }
    }
  }
}

header a {
  color: $dark;
  transition: 0.5s;
  &:hover {
    color: $purple;
  }
}

.loggin {
  display: flex;
  align-items: center;
  & .contact {
    padding: 0.5rem 0.7rem;
    background: $purple;
    border-radius: 0.6rem;
    color: white;
  }
  & a {
    margin-right: 1rem;
  }
}
