@for $i from 1 through 3 {
  .grid-#{$i} {
    margin-top: 3rem * $i;
  }
}

.section1 {
  margin-bottom: 4rem;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .services-cards {
    width: 21rem;
    justify-self: center;
    & img {
      width: 100%;
      margin-bottom: 1rem;
    }
    & > *:not(img) {
      margin: 1rem auto;
    }
    & h3 {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 400;
    }
    & p {
      color: $grey;
      line-height: 1.6rem;
      font-size: 0.9rem;
    }
    & a {
      color: $blue;
    }
  }
}
