* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: 'ABeeZee', sans-serif;
  font-style: italic;
  font-weight: 100;
}

h1 {
  font-size: 5.313rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

#logo {
  width: 7rem;
  margin-right: 2rem;
}

header {
  width: 90%;
  padding: 2rem 0;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  margin-right: 1rem;
  list-style-type: none;
  margin-top: 0.5rem;
}

header a {
  color: #272d4e;
}

header a:hover {
  color: #7854f7;
}

.loggin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loggin .contact {
  padding: 0.5rem 0.7rem;
  background: #7854f7;
  border-radius: 0.6rem;
  color: white;
}

.loggin a {
  margin-right: 1rem;
}

.hero-section {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5efff), to(white));
  background: linear-gradient(#e5efff, white);
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10rem 0 10rem 5%;
}

.hero-content .hero-desc {
  color: #94a2b3;
  line-height: 1.45rem;
  margin-top: 1.3rem;
}

.create-account {
  padding: 1rem 2.5rem;
  background: #7854f7;
  border-radius: 2rem;
  color: white;
}

.left-hero {
  width: 50%;
}

.right-hero {
  position: relative;
  width: 50%;
}

.right-hero > * {
  position: absolute;
}

.right-hero .img-hero {
  border-radius: 1rem;
}

.right-hero .hero-grille {
  z-index: 0;
}

.right-hero .exterieur {
  top: 0;
  right: 25rem;
  z-index: 2;
  width: 15rem;
}

.right-hero .stripe {
  bottom: -7rem;
  left: 12rem;
  background: white;
  z-index: 2;
  width: 19rem;
}

.right-hero .commerce {
  top: 5rem;
  right: 0;
  height: 20rem;
  z-index: 1;
  border-radius: 0;
}

.right-hero .vertical-grid-purple {
  bottom: -150px;
  right: 0;
  height: 25rem;
}

.right-hero .vertical-grid {
  top: -2rem;
  right: 8rem;
  height: 25rem;
}

.right-hero .horizontal-grid {
  width: 25rem;
  top: 84px;
  right: 15rem;
}

.right-hero .yellow-shape {
  z-index: 3;
  top: 20rem;
  right: 32.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #ffba49;
}

.connect {
  margin-top: 3rem;
}

.connect p :first-child {
  margin-right: 0.5rem;
}

.connect p :last-child {
  margin-left: 0.5rem;
  color: #299ef3;
}

.grid-1 {
  margin-top: 3rem;
}

.grid-2 {
  margin-top: 6rem;
}

.grid-3 {
  margin-top: 9rem;
}

.section1 {
  margin-bottom: 4rem;
}

.services-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.services-container .services-cards {
  width: 21rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.services-container .services-cards img {
  width: 100%;
  margin-bottom: 1rem;
}

.services-container .services-cards > *:not(img) {
  margin: 1rem auto;
}

.services-container .services-cards h3 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}

.services-container .services-cards p {
  color: #94a2b3;
  line-height: 1.6rem;
  font-size: 0.9rem;
}

.services-container .services-cards a {
  color: #299ef3;
}

.section2 {
  position: relative;
}

.section2::before, .section2::after {
  content: '';
  position: absolute;
  right: -5%;
  left: -5%;
  height: 120px;
  background: white;
  -webkit-clip-path: ellipse(50% 60% at 50% 100%);
  clip-path: ellipse(60% 60% at 50% 100%);
}

.section2::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 0;
}

.section2::after {
  bottom: 0;
}

.section2 ::-moz-selection {
  color: #7854f7;
  background-color: white;
}

.section2 ::selection {
  color: #7854f7;
  background-color: white;
}

.purple-container {
  background: #7854f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.purple-container > * {
  color: white;
  margin: auto 2rem;
}

.purple-container h3 {
  font-family: 'ABeeZee', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  line-height: 2.2rem;
}

.purple-container.right-section2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.purple-container .left-section2 {
  padding-top: 8rem;
}

.purple-container .left-section2 .purple-content {
  padding-top: 6rem;
}

.purple-container .purple-content {
  width: 20rem;
  height: 25rem;
}

.purple-container img {
  width: 23rem;
  z-index: 1;
}

.purple-container p {
  line-height: 1.63;
  margin-bottom: 2.4rem;
}

.purple-container a {
  padding: 1rem 2.5rem;
  background: #70c217;
  border-radius: 2rem;
  color: white;
}

::-moz-selection {
  color: white;
  background-color: #7854f7;
}

::selection {
  color: white;
  background-color: #7854f7;
}

.section3 {
  height: 45vh;
}
/*# sourceMappingURL=app.css.map */