* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: 'ABeeZee', sans-serif;
  font-style: italic;
  font-weight: 100;
}

h1 {
  font-size: 5.313rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

@import 'variables';
@import 'utils';
@import 'nav';
@import 'hero-content';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'section4';
@import 'footer';

::selection {
  color: white;
  background-color: $purple;
}
